:root {
    --hue: 255; 
    --sat: 2%; 
    --title-color: hsl(var(--hue), var(--sat), 90%); 
    --title-color-dark: hsl(var(--hue), var(--sat), 60%); 
    --text-color: hsl(var(--hue), var(--sat), 70%);
    --body-color: hsl(var(--hue), var(--sat), 10%);
    --container-color: hsl(var(--hue), var(--sat), 20%);
    }
    
    body {
    background-color: var(--body-color);
    color: var(--text-color);
    }
    
    .section__title {
    color: var(--title-color);
    }
    
    .button {
    background-color: var(--title-color);
    color: var(--container-color);
    }
    
    .button:hover {
    background-color: var(--title-color-dark);
    }
    
    .button-light {
    background-color: var(--container-color);
    color: var(--title-color);
    border: 1px solid var(--title-color);
    }
    
    .button-light:hover {
    background-color: var(--title-color);
    color: var(--container-color);
    }

    .dark-mode {
        --hue: 0;
        --sat: 0%;
        --title-color: hsl(var(--hue), var(--sat), 10%);
        --title-color-dark: hsl(var(--hue), var(--sat), 0%);
        --text-color: hsl(var(--hue), var(--sat), 46%);
        --body-color: hsl(var(--hue), var(--sat), 98%);
        --container-color: #fff;
        }
        
        .dark-mode button {
        background-color: var(--container-color);
        color: var(--title-color);
        border-color: var(--title-color);
        }
        
        .dark-mode button:hover {
        background-color: var(--title-color);
        color: var(--container-color);
        }
        